html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #4776e6, #8e54e9);
  min-height: 100%;
  font-family: monospace;
  background-attachment: fixed;
}

span {
  margin: auto;
  color: blue;
}

h2 {
  margin-right: 20px;
}

#container {
  margin: 160px auto auto auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

#output {
  margin: 25px auto;
  font-size: 20px; /* Fixed the typo */
  color: black;
}

#btn {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 7px;
  height: 47px;
}

#button-start,
#button-stop,
#button-reset {
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 3px;
  height: 47px;
  width: 62px;
  margin-right: 20px;
  margin-left: 34px;
  text-align: center;
}

#title {
  margin: 50px;
}

.for-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.for-time > div {
  margin-right: 50px;
}

#button-start:hover,
#button-stop:hover,
#button-reset:hover,
#btn:hover {
  color: #eff171 !important;
  border-radius: 10px;
  border-color: #f5f5f5 !important;
  transition: all 0.3s ease 0s;
}
